@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager

<ul class="navbar-nav">
@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/profile" title="ЛК">Личный кабинет</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/auth/logout" title="Выйти">Выйти</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/auth/reg">Зарегистрироваться</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/auth/login">Войти</a>
    </li>
}
</ul>
