@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="#" title="Manage">Личный кабинет</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" href="/auth/logout">
            <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" href="/auth/reg">Зарегистрироваться</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/auth/login">Войти</a>
    </li>
}
</ul>
