<div class="text-center">
    <h1 class="display-1">Личный кабинет</h1>
</div>

<div id="manage-acc"></div>
<hr />
<div id="change-pass"></div>
<hr />
<div id="tests"></div>
<partial name="_ReactScriptsPartial" />
<script src="~/js/profile-account.jsx" asp-append-version="true" type="text/babel"></script>