<div class="text-center">
    <h1 class="display-1">Личный кабинет</h1>
</div>

<div id="root"><h1 className="display-1">Загрузка</h1></div>
<partial name="_ReactScriptsPartial" />
<script src="~/js/profile-account.jsx" asp-append-version="true" type="text/babel"></script>