@{
    ViewData["Title"] = "Статистика теста";
}

<div id="root"><h2 class="dispay-2">Загрузка...</h2></div>

<partial name="_ReactScriptsPartial" />
<script src="~/js/profile-teststats.jsx" type="text/babel" asp-append-version="true"></script>

<script type="text/babel">
    const testId = @ViewData["TestId"];

    ReactDOM.render(<TestStat testId={testId} />, document.getElementById("root"));
</script>