@{
    ViewData["Title"] = "Пройденные тесты";
}

<div id="root"><h2 className="display-2">Загрузка...</h2></div>

<partial name="_ReactScriptsPartial" />
<script src="~/js/profile-tests.jsx" type="text/babel" asp-append-version="true"></script>