@model CreateTestRequestModel

@{
    ViewData["Title"] = "Новый тест";
}

<div class="text-center">
    <h1 class="display-4">Создание теста</h1>
</div>

<form class="form-horizontal" method="post" action="/tests/create">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label class="control-label col-sm-2">Название теста</label>
            <div class="col-sm-10">
                <input type="text" asp-for="TestName" class="form-control"/>
            </div>
            <span asp-validation-for="TestName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Описание</label>
            <div class="col-sm-10">
                <input type="text" asp-for="Description" class="form-control"/>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="form-check-input" type="checkbox" asp-for="IsPrivate" />
            <label class="form-check-label">Доступ только по ссылке</label>
        </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-outline-primary">Создать тест</button>
      </div>
    </div>
</form>