@model UpdateQuestionRequestModel

@{
    ViewData["Title"] = "Редактирование теста";
}
<h1 class="text-center display-3">Редактирование теста</h1>
<div id="root"></div>

<partial name="_ReactScriptsPartial" />
<script src="~/js/tests-edit.jsx" asp-append-version="true" type="text/babel"></script>
<script type="text/babel">
    const testId = @ViewData["TestId"];
    let isEverythingSaved = true;
    function onSavedChange(isSaved) {
        isEverythingSaved = isSaved
    };
    ReactDOM.render(<EditableTest testId={testId} onSavedChange={onSavedChange} />, document.getElementById('root'));
    
    window.addEventListener("beforeunload", e => {
        console.log(`isSaved: ${isEverythingSaved}`)
        if(!isEverythingSaved){
            const msg = "У вас остались несохранённые изменения. В случае закрытия страницы, они пропадут.";
            e.returnValue=msg;
            return msg;
        }
    });
    
</script>