@{
    ViewData["Title"] = "Все тесты";
}

<h1 class="text-center">Все тесты</h1>
<div id="root"></div>

<partial name="_reactscriptspartial" />
<script src="~/js/tests-index.jsx" asp-append-version="true" type="text/babel"></script>