<div class="text-center text-danger">

    <h1 class="display-1">403</h1>
    <p>Ой-ёй. Похоже, вам туда нельзя, или произошла непредвиденная ошибка. Переадресация на главную страницу...</p>
</div>

<script>setTimeout(()=>window.location.replace('/home/index'),5000)</script>