@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h3 class="display-3">ТестБаза</h3>
    <p>Добро пожаловать</p>
        
    <div class="btn-group">
        <a class="btn btn-lg btn-outline-success" href="/tests/create">Создать тест</a>
        <a class="btn btn-lg btn-outline-success" href="/tests/index">Пройти тест</a>
        <a class="btn btn-lg btn-outline-primary" href="https://github.com/tele-traan/testbaza">GitHub-репозиторий проекта</a>
    </div>

    <h3>Что это за сайт такой?</h3>
    <p class="m-0">"ТестБаза" создана, чтобы люди могли, собственно, тестировать друг друга, и им было удобно это делать.</p>
    <p class="m-0">При создании <a href="https://vk.com/teletraan">я</a> вдохновился технологией "Гугл Форм", однако она
    ориентирована скорее на опросники и сбор данных, в то время как "ТестБаза" всё-же нацелена именно на тесты.</p>

    <h3>Как пользоваться?</h3>
    <p class="m-0">Каждый пользователь может <a href="/tests/create">создать свой тест</a> и попросить желающих пройти его.</p>
    <p class="m-0">
        Тест можно гибко настраивать - можно сделать его публичным, или для узкого круга лиц, оставив доступ по ссылке.
        Есть возможность задать ограничения по времени, по количеству попыток. Вопросы в тесте также можно кастомизировать
    </p>
</div>