@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Главная</h1>
    <p>Добро пожаловать на лучший сайт для создания кастомизируемых тестов. <br />
        Объективно лучший, ведь у нас в названии есть слово "база", лол
    </p>
        
    <div class="btn-group-justified">
        <a class="btn btn-outline-success" href="/tests/create-test">Создать тест</a>
        <a class="btn btn-outline-success" href="/tests/all">Список всех тестов</a>
        <a class="btn btn-outline-primary" href="https://github.com/tele-traan/testbaza">GitHub-репозиторий проекта</a>
    </div>
</div>
