@{
    ViewData["Title"] = 404;
}

<div class="text-center text-danger">

    <h1>404</h1>
    <p>Ой-ёй. Похоже, на сервере нет того, чего вы ищете, или произошла непредвиденная ошибка. Переадресация на главную страницу...</p>
</div>

<script>setTimeout(()=>window.location.replace('/home/index'),5000)</script>